.div-div2 {
    right: 4rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    padding: 0;
    width: 8rem;
    height: 8rem;
    position: fixed;
    bottom: 13rem;
    border-radius: 50%;
    // background: #33333399;
    background: url('../../assets/images/imgs/btn_top.png');
    background-repeat: round;
    // filter: drop-shadow(0 0 0.75rem black);

    &:active {
        -webkit-filter: brightness(130%);
        filter: brightness(130%);
    }

}

.scroll-button {
    cursor: pointer;
    border: 0;
    padding: 0;
}