.live-header-wrapper {
  width: 100%;
  background-repeat: repeat;
  background: url('../../assets/images/imgs/main-header.png');
  background-size: 77.6rem 7rem;

  .live-Head-container {
    display: flex;
    align-items: center;
    padding: 0 0.9375rem;
    margin: 0;
    height: 6.6875rem;

    .live-header {
      background-color: #9b2f30;
      color: rgb(255, 255, 255);
      text-align: center;
      border-radius: 0.625rem;
      font-size: 2.625rem;
      padding: 0.2rem 1.25rem;
      text-transform: uppercase;
      font-family: RobotoRegular;
    }

    .live-header-para {
      font-size: 3rem;
      font-weight: 600;
      color: #9b2f30;
      margin-left: 1.3125rem;
      margin-right: 1.125rem;
      margin-top: 3rem;
    }

    .width {
      padding: 0 0.6rem;
    }

    .arrow-wrapper {
      margin-left: 1.25rem;
      background-image: url("../../assets/images/imgs/button.png");
      background-repeat: round;
      width: 3.5rem;
      height: 3.5rem;

      .live-header-img {
        width: 1.5rem;
        padding: 1.1rem 0.8rem;
      }
    }
  }
}