.cart-btn{
  background-image:url('../../assets/images/imgs/button-bg.png') ;
  background-repeat: round;
  border-radius: 1rem;
  margin-bottom: 1rem;
  color:#E5C284;
  outline: none;
  border: 0;
  height: 6.5rem;
  font-size: 4rem;
  margin: 1rem 1.125rem;
  font-family: RobotoRegular;
}

.cart-btn:focus {
  filter: brightness(130%);
}

.cart-btn-photo{
  display: flex;
  border-radius: 1rem;
  align-items:center;
  justify-content: center;
  background-image:url('../../assets/images/imgs/button-bg.png') ;
  color: #888889;
  background-repeat: round;
  border: 0;
  width: 35.3125rem;
  height: 7.8125rem;
  font-size: 4rem;
  margin: 1rem;
  margin-top: 2.25rem;
  img {
    margin-right: 1rem;
    width: 3rem;
  }
}
.active {
  background: url('../../assets/images/imgs/button-active-bg.png');
  background-repeat: round;
  color: #000;
}
.line {
  // margin: 0 2.125rem 0 2.125rem;
  height: 0.1875rem;
  // width: calc(100% - 9rem);
  background: linear-gradient(90deg,#35353a,#1d1d1d);
  // margin-left: 4rem;
}
.card-content {
  background: linear-gradient(90deg, #1a1a20, #18181b 50%, #161616);
  .blue {
    border: 0;
  }
  .green {
    border: 0;
  }
  .line {
    margin: 0 2.125rem 0 2.125rem;
    height: 0.1875rem;
    width: calc(100% - 6rem);
    background: linear-gradient(90deg,#35353a,#1d1d1d);
    margin-left: 3rem;
  }
}
.cart-slide{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  color: #888889;
  background: linear-gradient(90deg,#1a1a20,#18181b 50%,#161616);
  height: 7.5625rem;
  font-size: 3rem;
}
.id-section {
  background: url('../../assets/images/imgs/id-background.png');
  border-bottom: 0.1875rem solid #000;
}
.card-container {
  background: linear-gradient(90deg,#1a1a20,#18181b 50%,#161616);
  // margin-top: 0.1875rem;
  .line {
    margin: 0 2.1875rem 0 2.1875rem;
    height: 0.18rem;
    width: calc(100% - 6rem);
    background: linear-gradient(90deg,#35353a,#1d1d1d);
    margin-left: 3rem;
  }
}
.cart-main-slide {
  background: linear-gradient(90deg,#2a2a34,#23232b 50%,#161616);
  color: #fff
}
.yellow {
  border-bottom: 0.1875rem solid #000;
  border-top: 0.1875rem solid #000;
  .slide-num {
    color: #e9ca4e;
    font-size: 3.4375rem;
  }
}
.blue {
  border-bottom:  0.1875rem solid #000;
  .slide-num {
    color: #4195c1;
  }
}
.green {
  border-bottom:  0.1875rem solid #000;
  .slide-num {
    color: #00ff05;
  }
}

.slide-num{
  color: #e5b877;
}

.cart-button-text{
  background-color:#22222A;
  display: flex;
  justify-content:space-between;
  border-bottom:  0.0625rem solid #222222;
}

.cart-button-repeat{
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  align-items: center;
  height: 6.625rem;
  margin-top: 4px;
  border-radius: 6px;
  color:#D7BA47;
  // width: 60%;
  .number {
    height: 5.625rem;
    padding-right: 1.625rem;
    font-size: 4rem;
    border: 0;
    text-align: right;
    outline: none;
    width: 82%;
  }
}


.img-cart-rep{
  background: url('../../assets/images/imgs/repeat-bg.png');
  background-repeat: round;
  height: 6.25rem;
  width: 6.25rem;
  margin-left: 0.125rem;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 4.0625rem;
  }
}

.cart-p-repeat{
  margin: 0;
  margin-top: 10px;
  margin-bottom: 12px;
  color: #fff;
  flex-basis: 40%;

}

.id-wrapper {
  .cart-other-slide{
    font-size: 3rem;
    border-bottom: 1rem solid #000;
  }
  .slide-num {
    color: #888889;
  }
}


.cart-header{
    display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #4d4d5c 0, #3c3c47 50%, #2d2d35 100%);
  color: #fff;
  border-bottom: 0.1875rem solid #000000;
  height: 8.5375rem;
}

.cart-right-header{
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 2.1875rem;
  border-right: 0.1875rem solid #000000;
  height: 8.5375rem;
  // margin-right: 1px;
  background: linear-gradient(180deg, #4d4d5c 0, #3c3c47 50%, #2d2d35 100%);

  div {
    display: flex;
    align-items: center;
    img {
      margin: 0;
      margin-right: 1px;
      &.cart-icon {
        margin-bottom: 1px;
        margin-right: 0;
        height: 5rem;
        width: 5.1875rem;
      }
    }
  }
}
.cartBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8.5375rem;
  width: 8.4375rem;
  border-left: 0.1875rem solid #585867;

}
.cart-arrow{
  width: 8.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: initial;
  border: none;
}

.arrow {
  width: 3rem;
  height: 1.875rem;
}

.cart-num{
  width: 4.0625rem;
  height: 4.0625rem;
  background-color: #9b2f30;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  padding-bottom: 1px;
}


.cart-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../assets/images/imgs/cart-card-bg.png');
  background-repeat: round ;
  color: #909090;
  min-height: 17.5rem;
  font-size: 4rem;
}

.cart-items{
  width: 100%;
  background-color: #000;
  height: 17.5rem;
  background: url('../../assets/images/imgs/card-cart-bg.png');
  position: relative;
  font-size: 3rem;
  background-repeat: round;
  padding-bottom: 1rem;
  border-bottom: 0.1875rem solid black;
}

.cart-items-team{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.75rem;

  p {
    color: white;
    margin-top: 2.125rem;
    margin-bottom: 1rem;
  }
  
  .close {
    position: absolute;
    right: 2.25rem;
    top: 3rem;
    background: bottom;
    border: 0;
    &:hover {
      filter: brightness(130%);
    }
    img {
      width: 3rem;
      height: 3.0625rem;
    }
  }
}

.sub-cart-items{
  height:70px
}

.margin{
  margin-top: -4px;
}


.cart-btns{
  padding-top: 1.6rem;
  background-color:#19191e;
  border-top: 1px solid;
  height: 19.625rem;
  display: grid;
  grid-template-columns: auto auto auto;
}

.cart-two-btns{
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.625rem;
  background-color: #1A1A20;
  border-top: 0.1875rem solid;
  padding-bottom: 2.7rem;
  height: 12.9375rem;
} 


.cart-bottom-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #4d4d5c 0, #3c3c47 50%, #2d2d35 100%);
  border-top: 1.9375rem solid;
  height: 8.625rem;    
  border-bottom: 0.1875rem solid;
  padding-right: 2.25rem;
}

.cart-mark ,.cart-repeat{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cart-mark {
  color:#fff;
  font-size: 3rem;
  img {
    width: 5.125rem;
    height: 3rem;
    padding: 0 2.1875rem;
  }
}

.cart-repeat{
  background-image: url('../../assets/images/imgs/rep-bg.png');
  background-repeat: round;
  width: 13.625rem;
  height:5.9375rem;
  margin-right: 1rem;
  border-radius: 1rem;
  font-size: 3rem;
  img {
    width: 3.5rem;
  }
}


.cart-sub-content{
  width: 100%;
  background: url('../../assets/images/imgs/cart-card-bg.png');
  background-repeat: round ;
  color: #909090;
  min-height: 55px;
  color: #959595;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  height: 13.0625rem;
  font-size: 4rem;
}


.margin-bottom{
  margin-bottom: 1rem;
}
.arrow-card {
  margin: 0.8rem;
  margin-left: 2rem;
}

.cart-button-container{
  background: linear-gradient(90deg, #1a1a20, #18181b 50%, #161616);
  display: flex;
  padding: 10px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.cart-button-container button{
  width: 73.1875rem;
  height: 12.1875rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/images/imgs/bg.png');
  background-repeat: round;
  border: 0;
  color: #222222;
  padding-bottom: 6px;
  font-size: 4rem;
  .button-icon {
    margin-right: 2.5rem;
    width: 3rem;
  }
}


