.cart-btn{
  background-image:url('../../assets/images/imgs/button-bg.png') ;
  background-repeat: round;
  border-radius: 5px;
  height:30px;
  width: auto;
  min-width: 110px;
  margin-bottom: 1rem;
  color:#E5C284;
  outline: none;
  border: 0;
}
.cart-btn:focus {
  filter: brightness(130%);
}

.cart-btn-photo{
  display: flex;
  width: 41%;
  height: 42px;
  border-radius: 7px;
  align-items:center;
  justify-content: center;
  background-image:url('../../assets/images/imgs/button-bg.png') ;
  color: #888889;
  background-repeat: round;
  border: 0;
}
.active {
  background: url('../../assets/images/imgs/button-active-bg.png');
  background-repeat: round;
  color: #000;
}
.line {
  height: 1px;
  background: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.28) 49.87793%,hsla(0,0%,100%,.28) 50%,hsla(0,0%,100%,0)),rgba(44,44,52,.4);
}
.cart-slide{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0 10px;
  height: 35px;
  color: #888889;
  background: linear-gradient(90deg,#1a1a20,#18181b 50%,#161616);

}
.card-container {
  background: linear-gradient(90deg,#1a1a20,#18181b 50%,#161616);
  .line {
    margin: 0 10px 0 8px;
    height: 1px;
    width: calc(100% - 18px);
    background: linear-gradient(90deg,#35353a,#1d1d1d);
}
}
.cart-main-slide {
  background: linear-gradient(90deg,#2a2a34,#23232b 50%,#161616);
  color: #fff
}
.yellow {
  border-bottom: 1px solid #222222;
  .slide-num {
    color: #e9ca4e;
  }
}
.blue {
  border-bottom: 1px solid #222222;
  .slide-num {
    color: #4195c1;
  }
}
.green {
  border-bottom: 1px solid #222222;
  .slide-num {
    color: #00ff05;
  }
}

.slide-num{
//  color:#BD9863
 color: #e5b877;
}

.cart-button-text{
  background-color:#22222A;
  display: flex;
  justify-content:space-between;
  border-bottom: 1px solid #222222;

}

.cart-button-repeat{
  display: flex;
  width: 200px;
  justify-content: space-between;
  background-color: #000000;
  margin-right: 1rem;
  align-items: center;
  padding-left: 9px;
  padding-right: 21px;
  height: 37px;
  margin-top: 4px;
  font-size: 21px;
  border-radius: 6px;
  color:#D7BA47
}


.img-cart-rep{
 background-color: #D7BA47;
 height: 36px;
  width: 40px;
  margin-left: -8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-p-repeat{
  padding-left: 1rem ;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 12px;
  color: #fff

}




.cart-header{
    display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #4d4d5c 0, #3c3c47 50%, #2d2d35 100%);
  color: #fff;
  border-bottom: 1px solid #1e1e1e;
      height: 45px;
}

.cart-right-header{
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 13px;
  border-right: 1px solid #4d4d5c;
  height: 44px;
  margin-right: 1px;

  div {
    display: flex;
    align-items: center;
    img {
      margin: 0;
      margin-right: 1px;
      &.cart-icon {
        margin-bottom: 1px;
        margin-right: 0;
      }
    }
  }
}

.cart-arrow{
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: initial;
  border: none;
}

.arrow {
width: 15px;
height: 10px;
}

.cart-num{
  width:20px;
  height:20px;
  background-color:#9A2B2C;
  color:#fff;
  border-radius:10px;
  display: flex;
  justify-content:center;
  align-items: center

}


.cart-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../assets/images/imgs/cart-card-bg.png');
  background-repeat: round ;
  color: #909090;
  min-height: 70px;
}

.cart-items{
  height: 102px;
  border: 1px solid #6b6b2d;
  width: 95%;
  padding-left: 1rem;
}

.cart-items-team{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 370px;
  height: 35px
}

.sub-cart-items{
  height:70px
}

.margin{
  margin:0
}


.cart-btns{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 1.6rem;
  background-color:#19191e;
  border-top: 1px solid;
}


.cart-two-btns{
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  background-color: #1A1A20;
  border-top: 1px solid;
  padding-bottom: 2.7rem;
} 


.cart-bottom-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #4d4d5c 0, #3c3c47 50%, #2d2d35 100%);
  border-top: 10px solid;
  height: 38px;    
  border-bottom: 1px solid;
}

.cart-mark ,.cart-repeat{
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-evenly;
}

.cart-mark {
  color:#fff
}

.cart-repeat{
  background-color: burlywood;
  width: 80px;
  height: 30px;
  margin-right: 1rem;
  border-radius: 5px;
}


.cart-sub-content{
  width: 100%;
  background: url('../../assets/images/imgs/cart-card-bg.png');
  background-repeat: round ;
  color: #909090;
  min-height: 55px;
  color: #959595;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}


.margin-bottom{
  margin-bottom: 5px;
}

.cart-button-container{
  background-color: #1A1A20;
  display: flex;
  padding: 10px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.cart-button-container button{
  width: 90%;
  height: 63px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/images/imgs/button-active-bg.png');
  background-repeat: round;
  border: 0;
  color:#000000;
  padding-bottom: 6px;
}
.button-icon {
  width: 15px;
  height: 14px;
  margin-right: 10px;
}

