.container-main-header {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 0 0.938rem;
  color: #FFFFFF;
  height: 7.4375rem;


  .right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // max-width: 24%;

    .dot {
      height: 1.25rem;
      width: 1.25rem;
      background-color: #9b3031;
      border-radius: 50%;
      display: inline-block;
    }



    .head-p {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #414141;
      border-radius: 5px;
      font-family: RobotoRegular;
      font-size: 220%;
      padding: 0.4rem 1.5rem;

      @media(min-width: 853px) and (max-width: 909px) {
        font-size: 122%;
      }

      @media(min-width: 770px) and (max-width: 852px) {
        font-size: 122%;
      }
      @media(min-width: 377px) and (max-width: 433px) {
        font-size: 122%;
      }
      // @media(min-width: 277px) and (max-width: 377px) {
      //   font-size: 122%;
      // }
    }
    p {
      font-size: 220%;
      margin-left: 1rem;

      @media(min-width: 770px) and (max-width: 909px) {
        font-size: 158%;
      }
      @media(min-width: 480px) and (max-width: 600px) {
        font-size: 140%;  
      }
      @media(min-width: 377px) and (max-width: 433px) {
        font-size: 140%;  
      }
    }
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 0;
    row-gap: 0;
    // width: 70%;
    // margin-left: 2rem;
    // width: 55rem;
    // width: 58rem;

  }

  .btn {
    padding: 0 0.5rem;
    border-radius: 1rem;
    margin-left: 0.625rem;
    border: 4px solid #b89c5e;
    background-color: #242424;
    color: #fff;
    height: 5.5rem;
    // width: 15rem;
    // width: 21.375rem;

    // @media(max-width:$bp-medium) {
    //   border: 2px solid #b89c5e;
    //   width: 19.375rem;
    // }

    // @media(min-width: 768px) and (max-width: 854px) {
    //   width: 19.375rem;
    // }
    @media(min-width: 375px) and (max-width: 433px) {
      width: 92px;
    }
    @media(min-width: 300px) and (max-width: 375px) {
      width: 82px;
    }

    @media(min-width: 281px) and (max-width: 300px) {
      width: 59px;
    }
    // @media(min-width: 774px) and (max-width: 931px) {
    //     // width: 18.375rem;
    //   }

    &.active {
      background-image: url("../../assets/images/other/mainHeaderButton-gold.png");
      background-repeat: round;
    }

    // img {
    //   width: 3.5rem;
    //   height: 3.5rem;
    //   margin-right: 1rem;
    // }

    .button-pho {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      height: 5rem;
      color: #fff;
      margin-top: -3px;

      .arrow {
        width: 1.56rem;
        height: 0.75rem;
        margin-left: 1rem;
        margin-right: 0;
      }

      p {
        // font-size: 2rem;
        // width: 10rem;
      }
    }

    &:nth-child(2) {
      img {
        // width: 3.75rem;
      }
    }
  }
}

.white-arrow {
  // -webkit-transform: scaleY(-1);
  // transform: rotate(20deg);
  // margin-top: -9px;
  // width: 8px;
}



.select-box--selected-item:hover,
.select-box--selected-item:active {
  border-radius: 4px;
  // background: url('../../../imagesHold/fade.png') no-repeat, linear-gradient(to top, #5f4821, #55411e 50%, #49381b);
  cursor: pointer;

  img {
    filter: brightness(4);
  }
}

.select-box--container:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.select-box--selected-item {
  display: inline-flex;
  height: 100%;
  width: 100%;
  padding-right: 0;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  justify-content: center;
  // @media(min-width: 376px) and (max-width: 433px) {
  //   width: 17.375rem;
  // }
  // @media(min-width: ) and (max-width: 376px) {
    // width: 14.375rem;
  // }
  .icon {
    // padding-left: 0;
  }
}

.select-box--selected-item .text {
  text-align: left;
  // margin-top: -0.1875rem;
  // margin-right: 0.4375rem;
  // margin-left: 0.25rem;
  // font-size: 2rem;
  // width: 9rem;


}

.text {
  font-size: 2rem;

  @media(min-width: 910px) and (max-width: 1076px) {
    font-size: 158%;
  }

  @media(min-width: 853px) and (max-width: 909px) {
    font-size: 140%;
  }

  @media(min-width: 770px) and (max-width: 852px) {
    font-size: 140%;
  }

  @media(min-width: 480px) and (max-width: 600px) {
    // font-size: 103%;
  }
  @media(min-width: 377px) and (max-width: 433px) {
    font-size: 60%;
  }
  @media(min-width: 279px) and (max-width: 376px) {
    font-size: 60%;
  }
}

.icon {
  padding: 0;
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  // width: 2rem;
  // height: 1rem;
  @media(min-width: 910px) and (max-width: 1076px) {
    width: 28%;
    height: auto;
  }

  @media(min-width: 853px) and (max-width: 909px) {
    width: 30%;
    height: auto;
  }

  @media(min-width: 770px) and (max-width: 852px) {
    width: 30%;
    height: auto;
  }

  @media(min-width: 480px) and (max-width: 600px) {
    width: 25%;
    height: auto;
  }
  @media(min-width: 377px) and (max-width: 433px) {
    width: 23%;
    height: auto;
    // margin-left: 0;
  }
  @media(min-width: 279px) and (max-width: 376px) {
    // width: 15%;
    // height: auto;
    margin-left: 0;
  }
}

.white-arrow {
  width: 2rem;
  height: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;

  @media(min-width: 910px) and (max-width: 1076px) {
    width: 15%;
    height: auto;
  }

  @media(min-width: 853px) and (max-width: 909px) {
    width: 11%;
    height: auto;
  }

  @media(min-width: 770px) and (max-width: 852px) {
    width: 11%;
    height: auto;
  }

  @media(min-width: 480px) and (max-width: 600px) {
    width: 11%;
    height: auto;
  }
  @media(min-width: 377px) and (max-width: 433px) {
    width: 11%;
    height: auto;
  }
  @media(min-width: 281px) and (max-width: 376px) {
    width: 11%;
    height: auto;
  }
}

.select-box--items {
  // width: 136px;
  // margin: 1rem 0 ;
  z-index: 28;
  margin-top: 0.5rem;
  margin-right: -1.8rem;
  margin-left: -1.8rem;
  // border: 2px solid #b89c5e;
  border-radius: 6px;
  // background: linear-gradient(to top, #292929, #0f0f0f);
  border: 4px solid #b89c5e;
  background-color: #242424;
  font-size: 2.625rem;

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.select-box--box {
  z-index: 1;
  .select-box--container {
    // display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    // background: linear-gradient(to top, #282828, #1c1c1c 50%, #0f0f0f);
    // border: 2px solid #b89c5e;
    border: 4px solid #b89c5e;
    background-color: #242424;
    border-radius: 0.375rem;
    // width: 13.875rem;
    height: 5.4rem;
    margin-left: 0.5625rem;
    margin-top: 0.25rem;
    // padding: 0 1.5rem;
    border-radius: 1rem;
    // margin-left: 0.625rem;
    .text {
      font-size: 1.6rem;
    }
  }
}

.select-box--items .select-box--item:nth-of-type(1) {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.select-box--items .select-box--item:nth-of-type(3) {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}


.select-box--items div {
  // padding: 6px;
  display: flex;
  align-items: center;
  color: white;
  // width: 132px;
  // height: 32px;
  // padding-left: 39px;
  justify-content: center;
}

.select-box--items div:hover {
  background-color: #36363f;
}

.select-box--arrow {
  width: 8px;
  height: 0px;
  margin-top: 10px;
  margin-right: 6px;
  padding: 0;
  display: inline-block;
}

.select-box--arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #fff;
}

.select-box--arrow-up {
  transform: scaleY(-1);
  margin-top: -9px;
  width: 8px;
}