html {
  scroll-behavior: smooth;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 0.4375rem solid #351a27;
  overflow-x: auto;
  box-shadow: -0.06rem 0 0 #000000 inset;
}

::-webkit-scrollbar {
  height: 0.0625rem;
  /* height of horizontal scrollbar ← You're missing this */
  width: 0.25rem;
  /* width of vertical scrollbar */
  border: 0.0625rem solid transparent;
}
::-webkit-scrollbar:horizontal {
  display: none;
}

.div-shadow {
  position: relative;
  overflow: hidden;

  .shadow {
    // height: 11.5rem;
    height: 14rem;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #191920;
    // box-shadow: 0.7875rem 0 2.625rem 3rem #19191c;
    box-shadow: 0.4875rem 0 3rem 3rem #19191c;
    transform: rotate(180deg);
  }
}