
.back{
  background-color:#1D1E22;
  &:nth-last-child(1) {
    margin-bottom: 9.1875rem;
  }
}

.first-con{
  display: flex;
  border-bottom: 0.1rem solid #000000;
}

.main-live{
  display: flex;
  flex-direction: column;
  width: calc(100% - 7.7rem);
}
