.nLive-first-con{
  display: flex;
  border-bottom: 2px solid #000;
  .nLive-main-live{
    display: flex;
    flex-direction: column;
    width: calc(100% - 7.7rem);
    .nLive-left {
      display: flex;
      flex-direction: column;
      width: 100%;
      .nLive-down-sec{
        height: 15rem;
        display: flex;
        justify-content: space-between;
        width:100%;
        background-image: url("../../assets/images/cards/blueCardBackgrounds/contentGradient-inactive.png");
        background-repeat: round;
        &.active {
          background-image: url("../../assets/images/cards/blueCardBackgrounds/contentGradient-active.png");
          background-repeat: round;
        }
        .nLive-row{
          display: flex;
          align-items: center;
          color: #D1CECF;
          .nLive-star{
            padding-left: 10px;
            padding-right: 10px;
            width: 4.2rem;
          }
          .nLive-col{
            display: flex;
            flex-direction: column;
            .nLive-shirt{
              display: flex;
              align-items: center;
              height: 2.125rem;
              margin-bottom: 1.69rem;
              @media(max-width:$bp-special-small) {
                height: auto;
                margin: 0;
              }
              p {
                font-size: 2.625rem;
                margin: 0;
              }

              img {
                width: 2.4375rem;
              }
              .character {
                display: flex;
                background-color: #ffffff;
                opacity: 0.2;
                color: #000000;
                width: 2.1875rem;
                height: 2.1875rem;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                margin: 0 10px;
                font-size: 1.875rem;
              }
            }
            .nLive-play-video{
              display: flex;
              align-items: center;
              height: 25px;
              margin-top: 10px;
              margin-left: 4px;
              font-size: 17px;
              color: #71ADD9;
              @media(max-width:$bp-special-small) {
                margin-top: 0;
              }
              p {
                font-family: RobotoRegular;
                font-size: 2.625rem;
                margin: 0 2rem;
              }
            }
          }
        }
      }
      
    }
  }
  &:last-child {
    margin-bottom: 9.1875rem;
  }
}

.nLive-main-con{
    background-color: white;
    width: 100%;    
    height: 7.7rem;
    background-image: url("../../assets/images/cards/blueCardBackgrounds/headerGradient-inactive.png");
    background-repeat: round;
    display: flex;
    justify-content: space-between;
    .nLive-sub-con{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 10px;
      color: #fff;

      p {
        color: #d8b948;
        font-size: 3rem;
      }


      .nLive-header-flag {
        padding: 0 1rem;
        width: 6.375rem;
      }

      .ball {
        width: 4rem;
      }
      
    }
  &.active {
    background-image: url("../../assets/images/cards/blueCardBackgrounds/headerGradient-active.png");
    background-repeat: round;
    .nLive-sub-con {
      p {
        color: #fff;
      }
    }
  }
}

.nLive-btn{
  width: 7.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/cards/blueCardBackgrounds/sideGradient-inactive.png");
  background-repeat: round;
  text-decoration: none;

  .nLive-side-btn{
    background-color: #9B2F30;
    color: #fff;
    border: none;
    font-size: 17px;
    width: 100%;
    background-color:#225F8B;
    font-size: 2.875rem;
  }
  &.active-button {
    background-image: url("../../assets/images/cards/blueCardBackgrounds/sideGradient-active.png");
    background-repeat: round;
    .nLive-side-btn {
      background-color: transparent;
      text-shadow: 0 0 10px #ffffff;
    }
  }
}

.nLive-sub2{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 115px;
}
