.card {
  display: flex;
  justify-content: space-between;
  width: 100%;
height: 100px;;  background-color:tomato;
}

.first-con{
  display: flex;
}

.main-live{
  display: flex;
  flex-direction: column;
  width:100%

}

.left {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.main-con{
    background-color: white;
    width: 100%;    
    height: 50px;
    background-color:#64272D;
    display: flex;
    justify-content: space-between;
}

.section-num{
  width:20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#9B2F30;
  border: 1px solid #BA867E;
  
  
}

.square{
  height: 15px;
  width: 15px;
 
}

.sq1{
  background-color: yellow;
}

.sq2{
  background-color:red
}

.sub-con{
  display: flex;
  width: 120px;
  justify-content: space-evenly;
  align-items: center;
}

.sub2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 115px;
}

.down-sec{
  background-color: #36191E;
  height: 100px;
  display: flex;
  justify-content: space-between;
  width:100%
}

.row{
  display: flex;
  align-items: center;
  height: 100px;
  color: #D1CECF
}

.col{
  display: flex;
  flex-direction: column

}


.livee{
       background-color: rgb(155, 47, 48);
    color: rgb(255, 255, 255);
    width: 35px;
    height: 14px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    padding: 3px;
    text-transform: uppercase;
}


.num-container {
      display: flex;
    flex-direction: column;
    width: 100px;
        color: rgb(255, 255, 255);
}

.num-num{
      display: flex;
    align-items: center;
    justify-content: center;
}


.star{
  padding-left: 10px;
  padding-right: 10px
}


.shirt{
  display: flex;
  align-items: center;
  height:25px
}

.play-video{
  display: flex;
  align-items:center;
  height: 25px;
  width: 180px;
  justify-content: space-evenly;
  margin-top: 10px

}

.score{
  color: #D3A824 ;
  padding-left: 8px
}