.footer-container {
  footer {
    background-image: url("../../assets/images/imgs/footer-bg.png");
    background-repeat: round;
    position: fixed;
    bottom: 0;
    height: 9.1875rem;
    width: 77.625rem;
    box-shadow: 0 -0.625rem 0.625rem 0 #00000085;

    @media(max-width:$bp-extra-large) {
      left: 0;
    }

    .sub-container1 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 7rem;

      img {
        width: 4.1875rem;
        height: 4.125rem;
      }

      .main-p {
        font-size: 3rem;
        margin-left: 2.625rem;
        color: #212121;
        font-weight: 600;
      }
    }

    .sub-container2 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-right: 7rem;

      p {
        font-size: 2.25rem;
        font-weight: 600;
        margin-top: 2rem;
      }

      span {
        color: #a33434;
        font-family: RobotoRegular;

        .noto-sans {
          font-family: NotoSansCJKkrRegular;
        }
      }

      .sub-p {
        margin-left: 1.5rem;
        margin-right: -2.5rem;
      }
    }

    &.flex {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:focus {
        -webkit-filter: brightness(130%);
        filter: brightness(130%);
      }

      &:hover {
        -webkit-filter: brightness(130%);
        filter: brightness(130%);
      }
    }
  }
}