// html {
//   font-size: 14px;
//   @media(max-width:$bp-large) {
//     font-size: 14px;
//   }
//   @media(max-width:$bp-extra-medium) {
//     font-size: 13px;
//   }
//   @media(max-width:$bp-medium) {
//     font-size: 7.5px;
//   }
//   @media(max-width:$bp-special-small) {
//     font-size: 5.5px;
//   }
//   @media(max-width:$bp-small) {
//     font-size: 5px;
//   }
  
//   @media(max-width:$bp-extra-small) {
//     font-size: 4.5px;
//   }
// }

.btnClass {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  // background-image: url("../../assets/images/other/headerButtonBackground-inactive.png");
  background: url('../../assets/images/imgs/navBtn.png');
  background-repeat: round;
  color: #8a8a8d;
  width: 17%;
  height: 10.5rem;
  padding: 0.375rem;
  border: 0;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  text-decoration: none;
  min-width: 17%;
  flex-shrink: 0;
  p,
  img {
    margin: -3px;
  }

  img {
    width: 3rem;
  }

  .text {
    font-family: NotoSansCJKkrRegular;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .num {
    font-family: RobotoRegular;
    font-size: 1.75rem;
    background-color: #222226;
    padding: 0 0.6rem;
    border-radius: 0.5rem;
  }

  &.clicked {
    background-image: url("../../assets/images/other/headerButtonBackground-active.png");
    background-repeat: round;
    color: #000;
    .num {
      background-color: #222226;
      color: #9c8c5e;
    }
  }
}

.isActiveeeeeeeeeeeee {
  
}