button {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #23232a;
  color: #8a8a8d;
  width: 17%;
  height: 70px;
  padding: 6px;
  border: 0.5px solid #5a5a5a;
}

.btnClass {
  background-color: #23232a;
}

.btnClass.clicked {
  background: linear-gradient(#c2ae83, #ac9261, #f1d583);
  color: #222226;
}
